body {margin: 1em;}
h1, h2 {font-family: "Trebuchet MS", sans-serif; font-size: 32px;}
div {padding: 1em; font-family: Georgia, serif; font-size: 1.5em;}
p {display: inline-block; padding: 1em; line-height: 1.5em;}